configs/nvim/.config/nvim/autoload/plug.vim
configs/nvim/.config/nvim/plugged
configs/tmux/.config/tmux/plugins
notes-cli/node-modules
notes-cli/.idea
Brewfile.lock.json

# Local Netlify folder
.netlify
