Host hiqgbg.bitbucket.org
  AddKeysToAgent yes
  UseKeychain yes
  HostName bitbucket.org
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_rsa_hiqgbg

Host bitbucket.org
  AddKeysToAgent yes
  UseKeychain yes
  HostName bitbucket.org
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_rsa_personal

Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_rsa_personal
